body {
  margin: 0;
}
/*
.container {
  background: wheat;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 1fr 100px;
  min-height: 100vh;
}

.container div {
  background: wheat;
  border: 2px solid peru;
  border-radius: 6px;
}

.container header{
    background-color: dodgerblue;
    grid-column: 1/-1;
}
.container aside{
    background-color: yellow;
}
.container main{
    background-color: orangered;
    grid-column: 2/-1;
}
.container footer{
    background-color: gray;
    grid-column: 1/-1;
}
*/

.container {
  background: wheat;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 1fr 100px;

  min-height: 100vh;
  grid-template-areas:
    ". header header"
    "main main aside"
    "footer footer footer";
}

@media (width < 700px){
    .container{
        grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    }
}

.container header {
  background-color: dodgerblue;
  grid-area: header;
}
.container aside {
  background-color: yellow;
  grid-area: aside;
}
.container main {
  background-color: orangered;
  grid-area: main;
}
.container footer {
  background-color: gray;
  grid-area: footer;
}
