*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mickey{
    
}

.cabeza{
    background-color: black;
    height: 250px;
    width:250px;
    position: relative;
    border-radius: 50%;
    color: red;

}

.cabeza::after{
    --size: 150px;
    content: "";
    position: absolute;
    height: var(--size);
    width: var(--size);
    top:-100px;
    left: calc(var(--size) / 2 * -1);
    background-color: black;
    border-radius: 50%;
    box-shadow:  250px 0 black;
}

.cabeza::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 120px;
    top:7%;
    left: -50.5%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow:  156px 0 white, 228px 0 white, 190px 80px white;
}

.debug{
    border: 1px solid red;
    background-color: rgb(255, 113, 113);
}

.contenedor-mejillas{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid black;
    overflow: hidden;

}

.mejilla{
    --rotate: 38deg;
    --position: 18px;
    height: 150px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
}

.mejilla-izquierda{
    transform: rotate(calc(var(--rotate) * -1));
    left: var(--position);
}

.mejilla-derecha{
    transform: rotate(var(--rotate));
    right: var(--position);
}

.ojos{
    height: 78px;
    width: 28px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 40px 0 black;
    position: absolute;
    top: 28%;
    left: 36%;
}


.linea-nariz{
    height: 28px;
    width: 75px;
    border-top: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: -14px;
    left: -10px;
}
.nariz{
    height: 38px;
    width: 55px;
    background-color: black;
    border-radius: 48%;
    position: absolute;
    top: 62.8%;
    left: 38.8%;
}

.boca{
    height: 175px;
    width: 180px;
    border: 2px solid transparent;
    border-bottom: 5px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    bottom: 26px;
    left: 32px;
}

.boca-izquierda, .boca-derecha{
    --distance: -5px;
    --size: 46px;
    height: var(--size);
    width: var(--size);
    border: 2px solid transparent;
    border-top: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 74%;
}

.boca-izquierda{
    transform: rotate(-20deg);
    left: var(--distance);
}

.boca-derecha{
    transform: rotate(20deg);
    right: var(--distance);
}

